<% layout('/layout/boilerplate') -%>

<br><br>
<form action="/register" method="post" class="mx-auto needs-validation" style="width: 500px;" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input required name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input name="email" type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <p>Role:</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="role" value="viewer" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Viewer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="role" value="creator" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Creator
            </label>
          </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input required name="password" type="password" class="form-control" id="password">
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary">Register</button>

    <p class="mt-2">Already Registered? <a href="/login">login</a></p>
</form>