<% layout('/layout/boilerplate') -%>
    <br>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error !</h4>
        <hr>
        <h5>
            <%= err %>
        </h5>
    </div>
    <br>