<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/starability.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body style="background-color: rgba(62, 138, 138, 0.599);">

    <%- include('../partials/navbar') %>
        <div class="container">
            <%- body -%>
        </div>
        <%- include('../partials/footer') %>
            <script src="/js/validation.js"></script>
            <!-- <script src="/js/reset.js"></script> -->
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>